---
layout: default
---
<h5>Personal Information</h5>
{% for pinfo in site.data.profile.personal_info %}
  <p>
    <b>Name:</b> {{ pinfo.name }} <br>
    <b>Address:</b> {{ pinfo.address }}<br>
    <b>DOB:</b> {{ pinfo.dob }} <br>
    <b>Email:</b> <a href="mailto:{{ pinfo.email }}">{{ pinfo.email }}</a><br>
    <b>Ph. No.:</b> {{ pinfo.phone_no }}</p>
{% endfor %}


<!-- Educational Qualification Section -->

<div class="edu-tbl">
  <h5>Educational Qualification</h5>
<table>
    <thead>
      <tr>
        <th>Degree</th>
        <th>Board/Institution</th>
        <th>Year</th>
        <th>Grade/%</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in site.data.edu %}
        <tr>
          <td>{{ entry.qual.degree }}</td>
          <td>{{ entry.qual.insti }}</td>
          <td>{{ entry.qual.year }}</td>
          <td>{{ entry.qual.marks }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<li><strong>Qualified UGC NET in December 2023</strong>
</li>
<!-- Publications Sections -->
<h5>Publications</h5>
<ol>
    {% for publication in site.data.profile.publications %}
      <li>
        <b>“{{ publication.title }}”</b>. Published in {{ publication.journal }}. Pub. on {{ publication.date }}.
      </li>
    {% endfor %}
  </ol>

<!-- Papers Presented Section -->
<h5>Papers Presented</h5>
<ol>
  {% for presentation in site.data.profile.presentations %}
  <li>
    <b>“{{ presentation.title }}”</b>. Presented at {{ presentation.conf }} organised by {{ presentation.by }}, {{ presentation.date }}.
  </li>
{% endfor %}
</ol>

<!-- Work Experience Section -->
<h5>Work Experience</h5>
  <ol>
    {% for exp in site.data.profile.workexp %}
      <li>Worked as a <b>{{ exp.position }}</b> at {{ exp.institution }} from {{ exp.time }}.</li>
    {% endfor %}
  </ol>
  

<!-- Internships Section -->
<h5>Internships</h5>
<ol>
  {% for internship in site.data.profile.internships %}
    <li>
      <strong>Company:</strong> {{ internship.company }}<br>
      <strong>Position:</strong> {{ internship.position }}<br>
      <strong>Year:</strong> {{ internship.year }}
    </li>
  {% endfor %}
</ol>

<!-- Skills Section -->
<h5>Skills</h5>
<ul>
    <li>
        <strong>Technical Skills:</strong>
        <ul>
            {% for skill_entry in site.data.profile.skills.other_skills %}
            <li>
              {{ skill_entry }}
            </li>
          {% endfor %}
        </ul>
    </li>
  <li>
    <strong>Languages:</strong>

    <ul>
        {% for skill_entry in site.data.profile.skills.languages %}
        <li>
          {{ skill_entry }}
        </li>
      {% endfor %}
    </ul>
    </li>

</ul>

<!-- Extracurricular Activities Section -->

<h5>Extracurricular Activities</h5>
<ol>
  {% for eca in site.data.profile.extras %}
    <li>
      {{ eca.task }}
    </li>
  {% endfor %}
</ol>
