<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ relURL `css/normalize.css` }}">
    <link rel="stylesheet" href="{{ relURL `css/skeleton.css` }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <header>
                    <h1>Curriculum Vitae</h1>
                </header>
            </div>
        </div>
        <main class="row">
            <div class="two columns">&nbsp;</div>
            <div class="eight columns">

                <h5>Personal Information</h5>
                {{ range .Site.Data.profile.personal_info }}
                  <p>
                    <b>Name:</b> {{ .name }} <br>
                    <b>Designation:</b> {{ .designation }} <br>
                    <b>Institution:</b> {{ .institution }} <br>
                    <b>Address:</b> {{ .address }}<br>
                    <b>DOB:</b> {{ .dob }} <br>
                    <b>Email:</b> <a href="mailto:{{ .email }}">{{ .email }}</a><br>
                    <b>Ph. No.:</b> {{ .phone_no }}</p>
                {{ end }}


                <!-- Educational Qualification Section -->

                <div class="edu-tbl">
                  <h5>Educational Qualification</h5>
                <table>
                    <thead>
                      <tr>
                        <th>Degree</th>
                        <th>Board/Institution</th>
                        <th>Year</th>
                        <th>Grade/%</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ range .Site.Data.edu }}
                        <tr>
                          <td>{{ .qual.degree }}</td>
                          <td>{{ .qual.insti }}</td>
                          <td>{{ .qual.year }}</td>
                          <td>{{ .qual.marks }} </td>
                        </tr>
                      {{ end }}
                    </tbody>
                  </table>
                </div>
                <ul>
                  <li><strong>Qualified UGC NET in December 2023</strong>
                </li>
                </ul>


                <!-- Publications Sections -->

                <h5>Publications</h5>

                <p class="bold">Journal Articles</p>
                <ol>
                    {{ range .Site.Data.profile.publications.journal_articles }}
                      <li>
                        <b>“{{ .title }}”</b>. Published in <em>{{ .journal }}</em> {{ .vol_issue }}. Pub. on {{ .date }}. 
                        <span>{{ .doi | safeHTML }}</span>
                      </li>
                    {{ end }}
                </ol>

                <p class="bold">Book Chapters</p>
                <ol>
                    {{ range .Site.Data.profile.publications.book_chapters }}
                      <li>
                        <b>“{{ .title }}”</b>. Published in <em>{{ .book }}</em> edited by {{ .editors }}. Pub. by {{ .publisher }}. {{ .date }}. 
                        <span>{{ .doi | safeHTML }}</span>
                      </li>
                    {{ end }}
                </ol>

                <!-- Papers Presented Section -->
                <h5>Conferences/Seminars/Webinars/Workshops</h5>
                  <p class="bold">Papers Presented</p>

                <ol> 
                    {{ range .Site.Data.profile.events.presentations }}
                      <li>
                        <b>“{{ .title }}”</b>. Presented at {{ .conf }} organised by <em>{{ .by }}</em>, {{ .date }}.
                      </li>
                    {{ end }}
                  </ol>
                    
                  <p class="bold">Attended</p>
                    <ol> 
                      {{ range .Site.Data.profile.events.attended }}
                    <li>
                        <b>“{{ .title }}”</b>. organised by <em>{{ .by }}</em>, {{ .date }}.
                      </li>
                    {{ end }}
                    </ol>
                  <p class="bold">Courses</p>  
                  <ol>
                    {{ range .Site.Data.profile.events.courses }}
                  <li>{{ .initial }} <b>"{{ .title }}"</b> by <em>{{ .by }}</em>, {{ .date }}.</li>
                {{ end }}
                  </ol>
                  <p class="bold">Workshops</p>

                  <ol>  

                    {{ range .Site.Data.profile.events.workshops }}
                  <li>Attended <b>"{{ .title }}"</b> organised by <em>{{ .by }}</em>, {{ .date }}.</li>
                {{ end }}
                </ol>

                <!-- Work Experience Section -->
                <h5>Work Experience</h5>
                  <ol>
                    {{ range .Site.Data.profile.workexp }}
                      <li>Worked as a <b>{{ .position }}</b> at <em>{{ .institution }}</em> from {{ .time }}.</li>
                    {{ end }}
                  </ol>
                  

                <!-- Internships Section -->
                <h5>Internships</h5>
                <ol>
                  {{ range .Site.Data.profile.internships }}
                    <li>
                      <strong>Company:</strong> {{ .company }}<br>
                      <strong>Position:</strong> {{ .position }}<br>
                      <strong>Location:</strong> {{ .location }}<br>
                      <strong>Year:</strong> {{ .year }}
                    </li>
                  {{ end }}
                </ol>

                <!-- Skills Section -->
                <h5>Skills</h5>
                <ul>
                    <li>
                        <strong>Technical Skills:</strong>
                        <ul>
                            {{ range .Site.Data.profile.skills.other_skills }}
                            <li>
                              {{ . }}
                            </li>
                          {{ end }}
                        </ul>
                    </li>
                  <li>
                    <strong>Languages:</strong>

                    <ul>
                        {{ range .Site.Data.profile.skills.languages }}
                        <li>
                          {{ . }}
                        </li>
                      {{ end }}
                    </ul>
                    </li>

                </ul>

                <!-- Extracurricular Activities Section -->

                <h5>Extracurricular Activities</h5>
                <ol>
                  {{ range .Site.Data.profile.extras }}
                    <li>
                      {{ .task | safeHTML }}
                    </li>
                  {{ end }}
                </ol>

            </div>
            <div class="two columns">&nbsp;</div>
        </main>
        <footer>
            &nbsp;
        </footer>
    </div>

</body>

</html>
